header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 180px;
  height: auto;
  margin-bottom: 10px;
}

.logo-text {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}